
.d-container .d-container__header .d-container__header-img{
    border : 3px solid tomato;
    padding: 4px;
    border-radius :50%;
}

.d-container .d-container__header .d-container__header-name{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 10px;
}

.d-container .d-container__header .d-container__header-tag{
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #D8605B;
}

.d-container .d-container__header .d-container__header-button{
    background: #F4C27F;
    border-radius: 50px;
    font-weight: 500;
   font-size: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
  width: 89px;
  height: 22px;
  margin-top: 15px;
  color : #000;
  text-decoration: none;
}
