.content__tasklist {
    margin-top: 15px;
    padding-bottom: 50px;
}

.tasklist__heading {
    font-weight: 600;
    font-size: 18px;
    line-height: 115.69%;
    letter-spacing: 0.06em;
    color: rgba(0, 0, 0, 0.75);
}

.tasklist__content {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 26px 20px;
    margin-top: 20px;
}

.content__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
}

.content__header i {
    color: #F4C27F;
    font-size: 20px;
}


.content__list {
    height: 100px;
    overflow-y: auto;
}

.content__list .content__list-item {
    list-style: none;
}

.content__list .content__list-item span {
    margin-left: 11px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.06em;
    color: rgba(0, 0, 0, 0.75);
}