@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing : border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  max-width:  390px;
  margin: 0 auto;
  height:  auto;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  padding-bottom: 50px;
}